.app__page{
    display: flex;

}
.app{
    /* width: 100vw;
    border : 1px solid red;
    padding: 0px;
    overflow: hidden; */
}

@media screen and (max-width: 430px) {
    .app__page{
        flex-direction: column;
    }
}