.searchResults{
    display: flex;
    margin: 10px 0;
    text-decoration: none;
    color: black;
}
.thumbnail{
    width: 35%;
}
.thumbnail img{
    border-radius: 10px ;
    width: 100%;
}
.info{
    margin-left: 14px;
}
.title{
    font-size: 18px;
}

.views-Time{
    font-size: 13px;
    color: rgb(97, 96, 96);
    margin-top: 3px;
}
.channel
{
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.channel p{
    font-size: 13px;
    margin-left: 10px;
    color: rgb(97, 96, 96);
}
.channelImg{
    width: 27px !important;
    height: 27px !important;
}

.desc{
    font-size: 12px;
    color: rgb(97, 96, 96);  
}

@media screen and (max-width: 830px) {
    .thumbnail{
        width: 100%;
    }
    .title{
        font-size: 14px;
    }
    .views-Time{
        font-size: 11px;
        margin-top: 2px;
    }
    .channel
    {
        margin: 8px 0;
    }
    .desc{
        font-size: 11px;  
    }
}

@media screen and (max-width: 430px) {
    .searchResults{
        display: flex;
        flex-direction: column;
    }
    .info{
        margin-bottom: 14px;
    }}

